/* General Reset */
body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

/* Responsive Design */
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
  
  .header {
    padding: 0.5rem 1rem;
  }

  .about-section .social-resume {
    justify-content: center;
  }

  .skill-card {
    width: calc(50% - 2rem) !important;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }

  .project-card {
    height: auto !important;
    min-height: 300px;
  }

  .carousel-root {
    width: 100% !important;
  }
}

@media screen and (max-width: 1024px) {
  .about-section {
    justify-content: center;
  }

  .about-text {
    text-align: center;
  }
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
}

/* Light Theme */
:root {
  --background-color: #f2f2f2;
  --text-color: #4b0082; /* Indigo for text */

  /* Flat */
  --flat-bg: #e6e6fa; /* Lavender */
  --flat-shadow-dark: #b3b3cc; /* Dark Lavender */
  --flat-shadow-light: #ffffff;

  /* Concave */
  --concave-bg: linear-gradient(145deg, #dadada, #ffffff);
  --concave-shadow-dark: #b3b3cc; /* Dark Lavender */
  --concave-shadow-light: #ffffff;

  /* Convex */
  --convex-bg: linear-gradient(145deg, #ffffff, #dadada);
  --convex-shadow-dark: #b3b3cc; /* Dark Lavender */
  --convex-shadow-light: #ffffff;

  /* Pressed */
  --pressed-bg: #e6e6fa; /* Lavender */
  --pressed-shadow-dark: #b3b3cc; /* Dark Lavender */
  --pressed-shadow-light: #ffffff;

  --violet-bg: #e6e6fa;
  --violet-shadow-dark: #b3b3cc;
  --violet-shadow-light: #ffffff;
}

/* Dark Theme */
body.dark-theme {
  --background-color: #38393c; /* New base color for dark theme */
  --text-color: lavender; /* Orange for text */

  /* Flat */
  --flat-bg: #38393c; /* New base color */
  --flat-shadow-dark: #2e2f31; /* Adjusted shadow */
  --flat-shadow-light: #4a4b4d; /* Adjusted shadow */

  /* Concave */
  --concave-bg: linear-gradient(145deg, #2e2f31, #4a4b4d);
  --concave-shadow-dark: #2e2f31; /* Adjusted shadow */
  --concave-shadow-light: #4a4b4d; /* Adjusted shadow */

  /* Convex */
  --convex-bg: linear-gradient(145deg, #4a4b4d, #2e2f31);
  --convex-shadow-dark: #2e2f31; /* Adjusted shadow */
  --convex-shadow-light: #4a4b4d; /* Adjusted shadow */

  /* Pressed */
  --pressed-bg: #38393c; /* New base color */
  --pressed-shadow-dark: #2e2f31; /* Adjusted shadow */
  --pressed-shadow-light: #4a4b4d; /* Adjusted shadow */

  --violet-bg: #8a2be2;
  --violet-shadow-dark: #5e1a91;
  --violet-shadow-light: #b19cd9;
}

/* Apply Variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Neumorphism Effects */

/* Flat */
.neumorphic-flat {
  background: var(--flat-bg);
  box-shadow:  7px 7px 14px var(--flat-shadow-dark),
             -7px -7px 14px var(--flat-shadow-light);
  transition: box-shadow 0.3s;
}

/* Concave */
.neumorphic-concave {
  background: var(--concave-bg);
  box-shadow: 7px 7px 14px var(--concave-shadow-dark), -7px -7px 14px var(--concave-shadow-light);
  transition: box-shadow 0.3s;
}

/* Convex */
.neumorphic-convex {
  background: var(--convex-bg);
  box-shadow: 7px 7px 14px var(--convex-shadow-dark), -5px -5px 14px var(--convex-shadow-light);
  transition: box-shadow 0.3s;
}

/* Pressed */
.neumorphic-pressed {
  background: var(--pressed-bg);
  box-shadow: inset 7px 7px 14px var(--pressed-shadow-dark), inset -7px -7px 14px var(--pressed-shadow-light);
  transition: box-shadow 0.3s;
}

/* General Styling */

main{
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Header */
.header {
  background: var(--background-color);
  box-shadow: 7px 7px 14px var(--flat-shadow-dark), -7px -7px 14px var(--flat-shadow-light); /* Flat style */
  padding: 1rem 2rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{
    font-size: 1.5rem;
  }
  .logo{
    height: 75px;
    width: 75px;
  }
  }
  @media screen and (max-width: 768px) {
    h2{
      font-size: 1rem !important;
      text-align: center;
    }
    .logo{
      height: 40px !important;
      width: 40px !important;
    }
    
  }
  




/* Theme Toggle Button */
.theme-toggle-btn {
  border-radius: 50px;
  background: var(--flat-bg);
  box-shadow: 7px 7px 14px var(--flat-shadow-dark), -7px -7px 14px var(--flat-shadow-light); /* Flat style */
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  width: auto;
}

.theme-toggle-btn:hover {
  transform: scale(1.1);
}

.about-section{
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  .profile-image{
    min-width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    img{
      padding: 5px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: orangered 2px solid;
    }
  }
  .about-text{
    padding: 8px;
    width: 450px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    border-radius: 15px;
    h1 {
      color: orangered;
      font-size: 2em;
      font-weight: bolder;
    }
    
    h2{
      font-size: 1em;
      font-weight: normal;
      text-align: left;
    }
    
    h4 {
      font-size: 1.5em;
    }
    .social-resume{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap:20px;
      .social{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: var(--violet-bg);
        width: 175px;
        border-radius: 10px;
        box-shadow: inset 7px 7px 14px var(--violet-shadow-dark), inset -7px -7px 14px var(--violet-shadow-light); /* Pressed style */
        justify-content: space-evenly;
        padding: 8px;
        gap: 10px;
        a{
          text-decoration: none;
          font-size: 1.5em;
          color: var(--text-color);
          padding: 2px;
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
          &:hover{
            transform: scale(1.1);
          }
        }
      }
      .resume{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: var(--violet-bg);
        width: 175px;
        border-radius: 10px;
        box-shadow: inset 7px 7px 14px var(--violet-shadow-dark), inset -7px -7px 14px var(--violet-shadow-light); /* Pressed style */
        justify-content: space-evenly;
        padding: 10px;
        color: var(--text-color);
        font-size: 1.5em;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        p{
          font-size: 0.75em !important;
        }
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}

.skills-section{
  width: 100%;
  height: auto;
  padding: 1.25rem;
  justify-content: center;
  display: flex;
  .skill-container{
    padding: 1.25rem;
    width: min(95%, 720px);
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    h1{
      font-size: 2em;
      font-weight: normal;
    }
    .skill-grid{
      display: flex;
      flex-direction: row;
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .skill-card{
        width: 150px;
        height: 80px;
        margin: 20px;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        text-align: center;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        h2{
          font-size: 20px;
          font-weight: bolder;
          border-bottom: var(--text-color) 1px solid;
        }
        h4{
          font-size: 16px;
          font-weight: normal;
          color:orangered;
        }
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}

.projects-section{
  width: 100%;
  height: auto;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .projects-container{
    padding: 1.25rem;
    width: min(95%, 720px);
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    h1{
      font-size: 2em;
      font-weight: normal;
    }
    .carousel-root{
      display: flex;
      height: auto;
      flex-wrap: wrap;
      .project-card{
        align-self: center;
        justify-self: center;
        width: 70%;
        height: 320px;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        h2{
          font-size: 20px;
          font-weight: bolder;
          border-bottom: var(--text-color) 1px solid;
        }
        .technologies{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          gap: 6px;
          padding: 5px;
          .tech-tag{
            padding: 3px;
            border-radius: 8px;
          }
        }
        .links{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 10px;
          a{
            text-decoration: none;
            background: rgba(255, 68, 0, 0.288);
            font-size: 1.5em;
            padding: 5px;
            border-radius: 50%;
            transition: 0.3s ease-in-out all;
            &:hover{
              transform: scale(1.1);
            }
          }
        }
      }

      }
    }
}

.contact-section{
  width: 100%;
  height: auto;
  padding: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  .feedback-form , .contact-form{
    width: min(90%, 350px);
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    h2{
      font-size: 1.25em;
      font-weight: normal;
    }
    form{
      display: flex;
      flex-direction: column;
      padding: 7px;
      gap: 6px;
      border-radius: 15px;
      input, textarea{
        width: 100%;
        background: var(--background-color);
        padding: 10px;
        color: var(--text-color);
        border-radius: 5px;
      }
      .button{
        margin-top: 25px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: var(--background-color);
        color: var(--text-color);
        cursor: pointer;
        transition: all 0.6s ease-in;
        &:hover{
          box-shadow: inset 7px 7px 14px var(--pressed-shadow-dark), inset -7px -7px 14px var(--pressed-shadow-light);
          transition: all 0.6s ease-out;
        }
      }
    }
  }
}

/* Footer */
.footer {
  background: var(--background-color);
  box-shadow: 7px 7px 14px var(--flat-shadow-dark), -7px -7px 14px var(--flat-shadow-light); /* Flat style */
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .other-social-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    a{
      text-decoration: none;
      color: var(--text-color);
      font-size: 1.5em;
      padding: 4px;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      &:hover{
        color: var(--text-color);
        transform: scale(1.1);
      }
      }
  }
}